{% extends 'base.html.twig' %}

{% block title %}About Us
{% endblock %}

{% block body %}
<h1 class= "text-center text-dark"> About HTT Console Shop </h1>
</br>
	<div class="text-justify text-dark text-center">If you want to buy a console as xbox, playstation, switch or anything like that. This's the right place because we provide all the product of all the devices such as: PlayStation series (PS1, PS2, PS3, PS4, PS5...etc.), Xbox (Xbox360, Xbox One,...etc.), and a lot of another devices. All of our product are imported from developed countries as United Kingdom, United States, France, Germany, Japan,..etc. For your best experience we event custom some gamepad only available on our store. If you want to see and test the quality of our product, please visit us at the address below or if you have any problem you can call our hotline. 
    </div>
    </br>
	<h3 class = "text-center text-dark" >Location</h3>
	<div class="text-center text-dark">Hotline: 09090909009</div>
	<div class="text-center text-dark">209 30/4 Street, Xuan Khanh, Ninh Kieu, Can Tho, Vietnam</div>
	<div class="text-center">
</br><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.906966364769!2d105.77252551405383!3d10.024535775363615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a08820e288dc5b%3A0x301560920bedaf72!2sVincom%20Plaza%20Xu%C3%A2n%20Kh%C3%A1nh!5e0!3m2!1svi!2s!4v1647423644277!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
{% endblock %}
