{% extends 'base.html.twig' %}

{% block title %}Edit Products{% endblock %}

{% block body %}
    <h1>Edit Products</h1>
    <table class="edit_products>
    {{ include('products/_form.html.twig', {'button_label': 'Update'}) }}

    <button><a href="{{ path('app_products_index') }}">back to list</a></button>

    {{ include('products/_delete.html.twig') }}
    </table>
{% endblock %}
