{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}

    <h1>Wellcome to 3 Tree Library</h1>
    <p>We have a wide variety of books for you to choose from, ever world books, business, science, nature, or even novels and comics for kids.</p>
    <p>If you need any help, or you want to work with us, you can contact us through the following methods:</p>
    <div>
    <p>Contact Us: </p>
    <p><a href="mailto: thinhdtgcd210397@fpt.edu.vn">thinhdtgcd210397@fpt.edu.vn</a></p>
    <p><a href="mailto: HieuNDMGCD210003@fpt.edu.vn">HieuNDMGCD210003@fpt.edu.vn</a></p>
    <p><a href="mailto: NhanLTGCD210460@fpt.edu.vn">NhanLTGCD210460@fpt.edu.vn</a></p>
    <P>Phone:</p>
    <p><a href="tel:+8412 3456 789">+8412 3456 789</a></p>
    <p><a href="tel:+8433 4444 555">+8433 4444 555</a></p>
    <p><a href="tel:+8455 6666 777">+8455 6666 777</a></p>
    </div>

{% endblock %}
