<!DOCTYPE html>
<html>
    {% block topmenu %}
        <header>
            <table class="main_menu">
                <tr>
                    <td class="menu"><a href="{{ path('app_about') }}">About</a></td>
                    <td class="menu"><a href="{{ path('app_orders') }}">Orders</a></td>
                    <td class="menu"><a href="{{ path('app_products_index') }}">Products</a></td>
                    <td class="menu"><a href="{{ path('app_suppliers') }}">Suppliers</a></td>
                </tr>
            </table>
        </header>
    {% endblock %}
</html>
