{% extends 'base.html.twig' %}

{% block title %}Edit Orders{% endblock %}

{% block body %}
    <h1>Edit Orders</h1>
    <table class="edit_orders>
    {{ include('orders/_form.html.twig', {'button_label': 'Update'}) }}

    <button><a href="{{ path('app_orders_index') }}">back to list</a></button>

    {{ include('orders/_delete.html.twig') }}
    </table>
{% endblock %}
